<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #body {
            background-color: aqua
        }

        h1 {
            text-align: center;
            color: brown;
            border: 2px
        }
    </style>
</head>
<body id="body">
    <h1><b>Banking Account System</b></h1>
</body>
</html>

@Html.ActionLink("Back to Login page", "Login")

